
 .text-slider{
     position: absolute;
    top: 75%;
    left: 36%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: white;
    padding: 20px;
    text-shadow: 0 0 15px black;
    background-color: rgba(0, 0, 0, 0.24);
    p{
        font-size: 10px;
        text-align: justify;
    }
    .post-cat{
        color: white;
        font-size: 12px;
        background-color:$mainColor;
        padding: 2px 10px;
        border-radius: 10px;
     }

    
    }
    .owl-carousel {
        img{
            opacity: 0.75;
            transition: all .5s;
            &:hover{
                opacity: 1;
            }
        }
    }